// Resume styles
// ---------------------------------------/

// util

.section-header {
  @include section_border;
  margin-bottom: 1.5rem;

  h2 {
    @include sans;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0;
  }
}

// page header styles

.page-header { padding: 1.5rem 0;

  .avatar {
    width: 150px;
    height: 150px;
    max-width: 100%;
    overflow: hidden;
    @include border-radius(50%);
    margin: 0 auto;
    display: block;
    object-fit: cover;
  }


  .header-name {
    @include sans;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -.15rem;
    line-height: 1;
    margin: 1rem 0 0;
  }

  .header-contact-info {
    @include sans;
    text-align: center;
  }
  .header-contact-info p a {
    color: inherit;
  }

  .title-bar {
    @include section_border;
    margin-top: 1.4rem;
    padding: .4rem 0;
    @include clearfix;

    .header-title {
      @include sans;
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -.05rem;
      text-align: center;
      margin: 0 0 .5rem;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    @include media_larger_than_mobile { font-size: 1.125rem; }
  }
}

.icon-links {
  margin: 0 auto;
  padding: 0;
  position: relative;
  list-style: none;
  text-align: center;
  padding-top: .4rem;
  max-width: 300px;
  display: flex; /* Added */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure it takes full height of its container */

  @include media_larger_than_mobile {
    border-top: none;
  }

  .icon-link-item {
    display: inline-block;
    margin: 0 5px; /* Corrected margin */
  }

  .icon-link {
    display: inline-block;

    &:hover .icon path {
      fill: #333;
      @include transition(all .2s ease);
    }
  }

  .icon {
    height: 28px;
    path {
      fill: #808080; /* Darker color */
    }
  }
}

.contact-button {
  @include border-radius(3px);
  background-color: #efefef;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1.5rem auto;
  width: 220px;
  font-size: 1.375rem;
  @include sans_light;
  color: #333;
  line-height: 55px;
  @include transition(all .2s ease);

  &:hover {
    background-color: #333;
    color: #fff;
  }

  &.not-looking { width: 400px; }
}

// resume content styles

.content-section {
  margin: 0 0 3rem;

  .resume-item { margin-bottom: 2rem; }

  /* General Styles for h3 and h4 (when no logo is present) */
  .resume-item-title {
    @include sans_bold;
    margin: 0 0 0.5rem; /* Less space between title and next element */
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    line-height: 1.1; /* Slightly reduced line spacing */
  }

  .resume-item-details {
    font-size: 1.125rem;
    margin: 0 0 0.5rem; /* Less space between lines */
    line-height: 1.1; /* Slightly reduced line spacing */
  }

  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 0.0625rem solid;
      
      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }

  .resume-item-copy { 
    margin: 0.75rem 0 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }

  li {
    flex: 1 1 auto;
    margin: 0.3125rem;
    padding: 0.625rem;
    background-color: #f0f0f0;
    border-radius: 0.3125rem;
  }

  .icon-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 0 0.3125rem;
  }
  
  .icon-link img, 
  .icon-link svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-left: 0.5rem;
    height:auto
  }

  .icon path {
    fill: #808080;
  }
  
  .icon-link:hover .icon path {
    fill: #333;
    transition: all 0.2s ease;
  }

  /* Specific styles for when the company logo is present */
  .resume-item-header {
    display: flex;
    align-items: flex-start; /* Align to the top */
    margin-bottom: 1.3rem;
  }
  

  .resume-item-header .company-logo {
    width: 4.375rem;
    height: auto;
    margin-right: 0.625rem;
  }

  .resume-item-header .resume-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Extra spacing between lines when the logo is present */
  .resume-item-header .resume-item-title,
  .resume-item-header .resume-item-details {
    margin: 0;
    line-height: 1.4; /* More spacing between lines when the logo is present */
  }

  /* Additional spacing between the company name and position */
  .resume-item-header .resume-item-details {
    margin-top: 0.25rem; /* Extra space between company name and position */
  }
}


// footer styles

.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;

  .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999;

    > a {
      font-weight: 700;
      color: #727272;
    }
  }
}

.print-only { display: none !important }

@media print {
  .no-print { display: none !important }
  .print-only { display: block !important }
  body { font-size: 12px; line-height: 1rem; }
  .page-header { padding: 1rem 0 .2rem;
    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
    }
  }
  .section-header {
    @include section_border_thin;
    margin-bottom: 1rem;
    h2 { font-size: 1.2rem; line-height: 1.5rem; }
  }
  .content-section {
    margin: 0 0 1rem;
    .resume-item { margin-bottom: 1rem; }
    .resume-item-title {
      font-size: 16px;
      line-height: .7em;
    }

    .resume-item-details {
      font-size: 12px;
      margin: 0 0 .75rem;
      line-height: .7em;
      font-style:italic;

      &.award-title {
        font-size: 11px;
      }
    }
  }
}
